<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список стран</title>
</head>
<body>
<header>
    <h2>Список стран</h2>
</header>
    <h3>Алфавитный указатль</h3>
    {% for letter in alphabet %}
        <a href="/countries/{{ letter}}">{{ letter | title }}</a>
    {% endfor %}
{% if letter %}
    <h3>Фильтр по странам на букву {{ letter | title}}</h3>
    <a href="/countries-list">Сбросить фильтр</a>
{% endif  %}
<ol>
    {% for item in data %}
        <li><a href="/country/{{ item.country }}"> {{ item.country | title }}</a></li>
    {% endfor %}
</ol>
{% if letter %}
<footer>
<a href="/countries-list">Сбросить фильтр</a>
</footer>
{% endif  %}
</body>
</html>