<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список стран</title>
</head>
<body>
<header>
    <h2>Список стран</h2>
</header>
    <h3>Алфавитный указатль</h3>
    {% for letter in alphabet %}
        <a href={% url 'countries-by-letter' letter %}>{{ letter | title }}</a>
    {% endfor %}
{% if letter %}
    {# FIXME: а зачем "сбросить фильтр" два раза? ТУТ #}
    <h3>Фильтр по странам на букву {{ letter | title}}</h3>
    <a href={% url 'countries-list' %}>Сбросить фильтр</a>
{% endif  %}
<ol>
    {% for item in data %}
        <li><a href={% url 'country-detail' item.id %}> {{ item.name | title }}</a></li>
    {% endfor %}
</ol>
{% if letter %}
<footer>
{# FIXME: и ТУТ #}
<a href={% url 'countries-list' %}>>Сбросить фильтр</a>
</footer>
{% endif  %}
{% if data.paginator %}
<div class="pagination">
    <span class="step-links">
        {% if data.has_previous %}
            <a href="?page=1">&laquo; Первая</a>
            <a href="?page={{ data.previous_page_number }}">Предыдущая</a>
        {% endif %}

        <span class="current">
            Page {{ data.number }} of {{ data.paginator.num_pages }}.
        </span>

        {% if data.has_next %}
            <a href="?page={{ data.next_page_number }}">Следующая</a>
            <a href="?page={{ data.paginator.num_pages }}">Последняя &raquo;</a>
        {% endif %}
    </span>
</div>
{% endif %}
</body>
</html>